*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dark-mode{
	background-color: rgb(61, 61, 61);
}

.light-mode{
	background-color: white;
	color: black;
}
.background{
	width: 100vw;
	height: 100vh;
	object-fit:cover;
	z-index: -2;
}
.container{
	height: 100vh;
	width: 100vw;
	position: absolute;
}

#mode{
	padding: 10px 30px;
	font-size: 1rem;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}

.main{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.todo{
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	padding: 0 2rem;
}
.todo .heading{
	font-size: 2rem;
}

.todo input{
	padding: 1rem;
	font-size: 1rem;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px;
}

.button {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	background-color: aquamarine;
	border: none;
	box-shadow: 5px 5px 5px rgb(90, 90, 90);
	border-radius: 5px;
	cursor: pointer;
}

.btn{
	width: auto;
	padding: 0.3rem;
	margin-left: 10px;
}

#delete{
	background-color: red;
	color: white;
}

.todoList-heading{
	padding-top: 2rem;
}

.todoList{
	justify-content: start;
	gap: 1rem;
	height: auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px 25px;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

	.main {
	  flex-direction: column;
	}
	.todo{
		margin: 1rem 0;
	}
}