*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
	height: 100vh;
	width: 100vw;
	background-image: url(Images/background1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.main{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.left{
	background-color: rgba(243, 243, 243, 0.05);
	backdrop-filter: blur(10px);
	padding: 1rem 3rem;
	border-radius: 10px;
	border: 1px solid white;
}

textarea{
	background-color: transparent;
	border: 1px solid white;
	padding: 1rem;
	/* color: white; */
	outline: none;
	border-radius: 10px;
}

textarea:focus{
	border: 1px solid skyblue;
}

button{
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	background-color: transparent;
	backdrop-filter: blur(10px);
	border: 1px solid white;
	color: white;
	cursor: pointer;
	position: relative;
	border-radius: 5px;
}

button:hover{
	background-color: white;
	color: black;
	transition: 0.7s;
}

.right {
	width: 50%;
	background-color: rgba(243, 243, 243, 0.05);
	backdrop-filter: blur(10px);
	padding: 1rem 3rem;
	border-radius: 10px;
	border: 1px solid white;
}

#posts div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:5px;
}

@media screen and (max-width: 600px) {
	.main{
		flex-direction: column;
	}
	.right, .left{
		width: 90%;
	}
	textarea{
		width: 90%;
	}
}